In [2]:
import pandas as pd
import numpy as np

In [3]:
sch = pd.read_csv("C:/Users/miles.MILE-BL-4766-LA.000/Documents/FT/airline_data/tbl_schedule_2.csv")